@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  p {
    @apply text-lg leading-relaxed;
  }

  .page {
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .post {
    height: calc(100vh - 64px);
    overflow-y: auto;
  }
}
